#post-list {
  color: #ccc;
}

#posts {
  text-align: center;
}

.container {
  margin: 0 10%;
}

.post {
  text-align: center;
  padding: 20px 0 40px;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}

.post h1 {
  color: #f45d70;
  font-weight: normal;
}

.post .content {
  padding: 20px;
  color: #666;
  letter-spacing: 2px;
  line-height: 25px;
}